
<div class="sidebar">
  <p><strong>Face-to-Face Learning:</strong></br>
  <span>Classes meet in person.</span></p>
  <p><strong>Flexible and Efficient Scheduling:</strong></br>
  Evening classes and summer internships help you graduate in two years.</p>
  <p><strong>Learn from Experts:</strong></br>
  Classes are taught by experienced full-time faculty and working practitioners.</p>
  <p><strong>Unmatched Location</strong></br>
  Classes are held just a few minutes from Philadelphia City Hall and a few hours from Washington, DC.</p>
</div>
